<html>
	<head>
		<title>Event Stream</title>
		<link rel="stylesheet" href="/event-stream.css" type="text/css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script src="/slides.min.jquery.js"></script>
	</head>
	<body>
		<script type="text/javascript">
		var USE_SEARCH_API = false;

		function printTweet(avatar, photo_url, from_user, text) {			
			var div = $("<div/>").appendTo(".slides_container");
			//$("<img/>").addClass('prof').attr("src", avatar).appendTo(div);			
			$("<h1/>").html(from_user).appendTo(div);		
			$("<p/>").html(text).appendTo(div);		
			if (photo_url != '')
				$('<img/>').addClass('pic').attr("src", photo_url).appendTo(div);
		}
		function getPhotoUrl(entities) {
			var photo_url = '';
			if (entities.media && entities.media.length > 0) {
				photo_url = entities.media[0].media_url;
			} else if (entities.urls.length > 0) { // check others
				if (entities.urls[0].expanded_url.indexOf('instagr') != -1) {
				  photo_url = entities.urls[0].expanded_url + 'media/?size=l';
				}
			}
			return photo_url;			
		}

		function parseSearch(data) {

			$.each(data.results, function(i, tweet){
				var profile_img = tweet.profile_image_url.replace('normal', 'bigger');	
				var photo_url = getPhotoUrl(tweet.entities);
				printTweet(profile_img, photo_url, tweet.from_user, tweet.text);
			});
			$('#tweets').slides();
		}

		function parseStream(data) {

			$.each(data, function(i, tweet){
				var profile_img = tweet.user.profile_image_url.replace('normal', 'bigger');
				var photo_url = getPhotoUrl(tweet.entities);
				printTweet(profile_img, photo_url, tweet.user.name, tweet.text);
			});
			$('#tweets').slides({play: 5000, pagination: false});
		}

		function fetchTweets() {
			$('.slides_container').empty();
			if (USE_SEARCH_API) {
				$.getJSON("http://search.twitter.com/search.json?callback=?",
					{
					q: "#claudioubeda",
					include_entities: 1,
					result_type: "recent"
					}, parseSearch
				);
			} else {				
				//$.getJSON("http://event-stream.herokuapp.com/search", parseStream);
				$.getJSON("http://localhost:9292/search", parseStream);
			}
		}
		fetchTweets();
		setInterval(fetchTweets, 20 * 1000);
		</script>
		<div id="tweets">
			<div class="slides_container"></div>
			<div id="clear" style="clear:both;"></div>
		</div>
	</body>
</html>