<html>
	<head>
		<title>Event Stream</title>
		<link rel="stylesheet" href="/event-stream.css" type="text/css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script src="/slides.min.jquery.js"></script>
	</head>
	<body>
		<script type="text/javascript">
		var USE_SEARCH_API = false;
		var HOST = 'http://event-stream.herokuapp.com'; //'http://localhost:9292'; 
		var HASHTAG = '#marinayguille';

		function printTweet(avatar, photo_url, from_user, text) {			
			var div = $("<div/>").appendTo(".slides_container");
			$("<img/>").addClass('avatar').attr("src", avatar).appendTo(div);			
			$("<span/>").addClass('name').html(from_user).appendTo(div);
			var p = $("<p/>").html(text).appendTo(div);		
			if (photo_url != '') {
				$('<img/>').addClass('pic').attr("src", photo_url).appendTo(div);
			} else {
				p.addClass('alone');
			}
		}
		function getPhotoUrl(tweet) {
			var entities = tweet.entities;
			var photo_url = '';
			if (entities.media && entities.media.length > 0) {
				photo_url = entities.media[0].media_url;
			} else if (entities.urls.length > 0) { // check others
				var e_url = entities.urls[0].expanded_url;
				if (e_url.indexOf('instagr') != -1) {
				  photo_url = e_url + 'media/?size=l';
				} else if (e_url.indexOf('lockerz') != -1) {
					photo_url = 'http://api.plixi.com/api/tpapi.svc/imagefromurl?url=' + e_url + '&size=medium';
				}
				tweet.text = tweet.text.replace(tweet.entities.urls[0].url, '');
			}
			return photo_url;			
		}

		function parseSearch(data) {

			$.each(data.results, function(i, tweet){
				var profile_img = tweet.profile_image_url.replace('normal', 'bigger');	
				var photo_url = getPhotoUrl(tweet);
				printTweet(profile_img, photo_url, tweet.from_user, tweet.text);
			});
			$('#tweets').slides();
		}

		function parseStream(data) {

			$.each(data, function(i, tweet){
				var profile_img = tweet.user.profile_image_url.replace('normal', 'bigger');
				var photo_url = getPhotoUrl(tweet);
				printTweet(profile_img, photo_url, tweet.user.name, tweet.text);
			});
			$('#tweets').slides({play: 5000, pagination: false, effect: "fade", generatePagination: false });
		}

		function fetchTweets() {
			$('.slides_container').empty();
			if (USE_SEARCH_API) {
				$.getJSON("http://search.twitter.com/search.json?callback=?",
					{
					q: HASHTAG,
					include_entities: 1,
					result_type: "recent"
					}, parseSearch
				);
			} else {				
				$.getJSON(HOST + "/search", parseStream);
			}
		}
		fetchTweets();
		setInterval(fetchTweets, 20 * 1000);
		</script>		
		<div id="tweets">
			<div class="slides_container"></div>
			<div id="clear" style="clear:both;"></div>
		</div>
	</body>
</html>