@font-face
{
	font-family: Sansumi-Regular;
	src: url(Sansumi-Regular.ttf);
}

body {
	background-image: url('/background.png');
}
.tweet {
	float: left;
	width: 100%;
	
	color: #a10c10;
}
#tweets {
	width: 900px;
	height: 700px;
	margin: 0 auto;
	border: solid 5px #a10c10;
	padding: 3px;
	background: white;	
}
.prof {
	float: left;
	width: 73;
}
#tweets p {
	float: left;
	width: 650px;
	height: 73px;
	margin-top: 30px;
}
#tweets h1 {
	color: #a10c10;
	text-transform: uppercase;
}

.pic {
	width: 300px;
	float: left;
}


.slides_container {
    width: 858px;
    height: 658px;
    border: solid 1px #a10c10;
	padding: 20px;
	font-family: Sansumi-Regular;
}
.slides_container div {
    width:570px;
    height:270px;
    display:block;
}
.pagination {
	display: none;
}