@font-face
{
	font-family: Sansumi-Regular;
	src: url(Sansumi-Regular.ttf);
}

body {
	background-image: url('/background.png');
}
.tweet {
	float: left;
	width: 100%;
	
	color: #a10c10;
}
#tweets {
	margin-top: -350px;
	margin-left: -450px;
	top: 50%;
	left: 50%;
	position: absolute;

	width: 900px;
	height: 700px;	
	border: solid 5px #a10c10;
	padding: 3px;
	background: white;	
}
.avatar {
	float: left;
	width: 73px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
#tweets p {
	float: left;
	width: 685px;
	height: 73px;
	margin-top: 15px;
	margin-left: 83px;
	font-size: 26px;
	font-weight: bold;
	color: #555;
}
.alone {
	margin-top: 120px;
	font-size: 38px;
}
.name {
	text-transform: uppercase;
	text-align: left;
	color: #a10c10;
	font-weight: bold;
	float: left;
	line-height: 73px;
	padding: 0;
	margin: 0 0 0 10px;
}
.nick {
	font-size: 16px;
	text-align: left;
	color: #555;
	float: left;
	margin-top: 40px;	
}

.pic {
	width: 400px;
	float: left;
	margin-left: 83px;
}

.slides_container {
    width: 808px;
    height: 578px;
    border: solid 1px #a10c10;
	padding: 100px 20px 20px 70px;
	font-family: Sansumi-Regular;
}
.slides_container div {
    width: 742px;
    height: 270px;
    display: block;
}
.pagination {
	display: none;
}